<div class="sparkle" ng-style="{'font-size': theStyle.fontsize, 'width': theStyle.width, 'height': theStyle.height }">
  <!-- Editor -->
  <div ng-if="!ikSlide.externalData" class="sparkle-wrapper">
    <div class="sparkle-section sparkle-media-section">
      <img ng-src="{{ikSlide.options.firstElement.mediaUrl}}">
    </div>
    <div class="sparkle-section sparkle-text-section">
      {{ikSlide.options.firstElement.text}}
    </div>
  </div>
  <!-- Live -->
  <div ng-if="ikSlide.externalData" class="sparkle-wrapper">
    <div class="sparkle-section sparkle-media-section">
      <img ng-src="{{ikSlide.currentItem.mediaUrl}}">
    </div>
    <div class="sparkle-section sparkle-text-section">
      {{ikSlide.options.currentItem.text}}
    </div>
  </div>
</div>
